html, body {
    height: auto;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(#6cb9e3, #50acca, #abe3f6, #abe3f6);*/
    background: #0a0118;
}

.game-container {
    height: 100vh;
    position: relative;
}

.game-container .embed {
    width: 100%;
    height: 95%;
    display: block;
}

.game-container .embed iframe {
    border: none;
}

.game-container .short-description {
    bottom: 0;
    /*width: 100%;*/
    background: rgba(0, 0, 0, 0.74);
    z-index: 10;
    text-align: center;
    padding: 10px;
}

.game-container .short-description p {
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    display: inline-block;
}

.game-container .short-description h1 {
    color: #ffffff;
    font-size: 15px;
    line-height: 28px;
    display: inline;
}

.game-container .short-description h1 a {
    color: #ed4441;
    font-weight: 700;
    text-decoration: none;
}

.game-container .short-description a {
    color: #ed4441;
    text-decoration: none;
}

.description-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 65px auto 50px;
    gap: 30px;
}

.description-container .section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 1px solid #ffffff2b;
    border-radius: 25px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #2B2338 0%, #0A011866 100%);
}

.description-container .section h1 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0;
    text-transform: capitalize;
    margin: 0 0 30px;
}

.description-container .section h2 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0;
    text-transform: capitalize;
    margin: 0 0 30px;
}

.description-container .section p {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}

.description-container .section .button-playNow{
    background-color: #00000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1em;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding: 10px 30px;
    background-image: linear-gradient(180deg, #B47CFD 20%, #b47cfd 60%);
    box-shadow: -45px 0 40px -10px #FFB07B inset;
    border-style: solid;
    border-width: 0;
    border-color: #b47cfd;
    border-radius: 30px 30px 30px 30px;
    margin: 30px auto 0;
}

.one .grid {
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 22px;
}

.one .grid .container {
    border-radius: 10px;
    background: #fff;
    flex-basis: calc(20% - 20px);
    overflow: hidden;
}

.one .grid .container a {
    text-align: center;
    text-decoration: none;
    color: #FF7FC2;
}

.one .grid .container img {
    width: 100%;
    height: auto;
}

.one .grid .container span {
    color: #ff3da2;
    font-weight: 600;
}

.three ul {
    display: flex  ;
    color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px auto;
}

.three ul li {
    flex-basis: calc(33% - 10px);
    font-size: 16px;
    font-weight: 500;
}

.four ul{
    display: flex  ;
    color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px auto;
}

.four ul li {
    flex-basis: 100%;
    font-size: 16px;
    font-weight: 500;
}

.six ul{
    display: flex  ;
    color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px auto 0;
}

.six ul li {
    flex-basis: 100%;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.seven ul{
    display: flex  ;
    color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    padding-left: 0;
    margin: 20px auto 0;
}

.seven ul li {
    list-style-type: none;
    flex-basis: 100%;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.seven .img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 15px;
}

.seven .img .img-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-basis: calc(33% - 10px);
    position: relative;
    width: 100%;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.seven .img .img-container:nth-child(1) {
    background-image: url('image/Cool Math Games Run 3.png');
}

.seven .img .img-container:nth-child(2) {
    background-image: url('image/Run 3 Math Playground.png');
}

.seven .img .img-container:nth-child(3) {
    background-image: url('image/Run 3 Unblocked 66.png');
}

.seven .img .img-container:nth-child(4) {
    background-image: url('image/Run 3 Poki.png');
}

.seven .img .img-container:nth-child(5) {
    background-image: url('image/Run 3 Unblocked WTF.png');
}

.seven .img .img-container:nth-child(6) {
    background-image: url('image/Hooda Math Run 3.png');
}

.seven .img .img-container:nth-child(7) {
    background-image: url('image/ABCya Run 3.png');
}

.seven .img .img-container:nth-child(8) {
    background-image: url('image/Unblocked Games 76 Run 3.png');
}

.seven .img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 半透明遮罩 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.seven .img .text {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.eight .faq-container {
    padding: 10px 0 30px;
    width: 100%;
}

.eight .faq-container:last-child {
    padding-bottom: 0;
}

.eight h3 {
    margin: 0 0 10px;
    width: 100%;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}

.eight p {
    width: 100%;
    line-height: 26px !important;
    color: #e1e1e1 !important;
    font-size: 15px !important;
    text-align: left !important;
}

.eight ul {
    display: flex;
    color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 4px;
    margin: 20px auto 0;
}

.eight ul li {
    flex-basis: 100%;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
}

/* 手机端样式 */
@media screen and (max-width: 600px) {
    .game-container .short-description {
        width: 93%;
    }

    .game-container .short-description p {
        font-size: 14px;
        display: contents;
    }

    .description-container {
        margin: 115px auto 0;
        gap: 0;
    }

    .description-container .section {
        margin: 25px;
        padding: 30px;
    }

    .description-container .section h1 {
        font-size: 25px;
    }

    .description-container .section h2 {
        font-size: 22px;
    }

    .description-container .section p {
        font-size: 14px;
        line-height: 26px;
    }

    .one .grid .container {
        flex-basis: 100%;
    }

    .one .grid .container a {
        font-size: 14px;
    }

    .three ul li, .four ul li,.six ul li {
        flex-basis: 100%;
        font-size: 13px;
        line-height: 25px;
    }

    .seven .img .img-container {
        flex-basis: 100%;
    }

    .eight .faq-container {
        padding: 30px 0;
        border-bottom: 1px solid #ffffee26;
    }

    .eight h3 {
        line-height: 30px;
        margin-bottom: 10px;
    }

    .eight p {
        line-height: 28px !important;
        font-size: 14px !important;
    }
}
